<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.ucsm.tylersai.amsucsm">

    <uses-feature android:name="android.hardware.camera2"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <permission
            android:name="com.example.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>

    <uses-permission android:name="com.example.permission.MAPS_RECEIVE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ChangePasswordActivity">
        </activity>
        <activity android:name=".RulesActivity">
        </activity>
        <activity
                android:name=".SplashScreenActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".SubjectDetailActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".NotiDetailActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".QRScanActivity"
                android:screenOrientation="portrait">
        </activity>

        <activity
                android:name=".NotificationActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".CreatePasswordActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".ChooseSubjectActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>

        <activity
                android:name=".NewPasswordActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".PinActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".ForgetPasswordActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".SignupActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".StartActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".UpdateMyInfoActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MyAccountActivity"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_map_myapi"/>
    </application>

</manifest>